pipeline/EmailPipe.json
{
	"name": "EmailPipe",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PipelineTutorial",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SuccessNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-18.northcentralus.logic.azure.com:443/workflows/b8fc80b7f03c409ea0d4a2561dfe8b08/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=YfK8XbCGkk-vAzqAwCpJe95ZN2DuJrjIK9qotg-68Jk",
					"body": {
						"value": "{\n\"title\":\"Pipeline run finish\",\n\"message\":\"Demo pipeline running successfully\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunld\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FailureNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-18.northcentralus.logic.azure.com:443/workflows/b8fc80b7f03c409ea0d4a2561dfe8b08/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=YfK8XbCGkk-vAzqAwCpJe95ZN2DuJrjIK9qotg-68Jk",
					"body": {
						"value": "{\n\"title\":\"Pipeline run failed!\",\n\"message\":\"@{activity('Execute Pipeline1').error.message}\",\n\"color\":\"Red\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunld\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}