pipeline/VarPipeline.json
{
	"name": "VarPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_ds",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "destination",
							"FolderName": "data-factory-course",
							"FileName": "/"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SetFileNames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_Files",
					"value": {
						"value": "@activity('GetFileNames').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_Files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}